* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.parent {
    background-color: lightblue;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.child {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.colorChild {
    position: absolute;
    right: 0%;
    display: flex;
    flex-direction: column;
}

.colorChild .item {
    margin: 6px;
    padding: 5px;
    font-size: 16px;
}

#btnRed {
    color: red;
}

#btnBlue {
    color: blue;
}

#btnGreen {
    color: green;
}

#btnYellow {
    background: yellow;
}

#btnOrange {
    color: orange;
}

#btnPurple {
    color: purple;
}

#btn {
    padding: .45rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.hexCode {
    background-color: white;
    margin-top: 1.1rem;
    width: 55%;
    font-size: 2rem;
    text-align: center;
    margin-left: 25%;
    padding: .35rem;
    border-radius: 10px;
    font-weight: 600;
    user-select: none;
}

.hexCode p {
    display: inline;
}

.hexCode #copy {
    font-size: 14px;
    padding: 4px;
    margin: -10px 5px 10px 5px;
}

@media only screen and (max-width: 425px) {
    /*Small smartphones [325px -> 425px]*/
    .parent {
        background-color: lightblue;
        position: relative;
    }
    .child {
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translate(-50%, -50%);
    }
    .hexCode {
        background-color: white;
        margin-top: 1.1rem;
        width: 60%;
        font-size: 2rem;
        text-align: center;
        margin-left: 25%;
        padding: .35rem;
        border-radius: 10px;
        font-weight: 600;
        user-select: none;
    }
    #btn {
        padding: .55rem;
        font-size: 1rem;
        font-weight: bold;
    }
}